:root {
    --primary-main: #B4B4B8;
    --primary-secondary: #C7C8CC;
    --sub-main: #E3E1D9;
    --sub-secondary: #F2EFE5;
    --font-color: #424242;
}

@font-face {
    font-family: PTSans;
    src: url(../fonts/PatsySans.otf);
}

@font-face {
    font-family: PTSans-it;
    src: url(../fonts/PatsySans-Italic.otf);
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-main);
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 1px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 10px;
    height: 20%;
    width: 100%;
    margin-left: 0;
    background-color: var(--primary-secondary);
}

.logo {
    height: 120%;
    width: height;
    margin: 0;
    padding: 0;
    align-self: center;
}

.header-menu {
    align-self: center;
    padding: 5%;
    width: 10%;
    font: 2.5rem PTSans, Arial, Helvetica, sans-serif;
    color: var(--font-color);
    vertical-align: sub;
}

.header-games, .header-mini_games {
    font-size: 40px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    margin: 2% 0 0 0;
    padding: 0;
    background-color: var(--primary-secondary);
}

.main-main_game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-secondary);
}

